@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    display: grid;
    place-items: center; 
    min-height: 100vh;
}

article {
    width: 90vw;
    max-width: 350px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: hsl(216, 50%, 16%);
}

img {
    max-width: 100%;
    border-radius: 0.5rem;
}  

.header-image {
    position: relative;
    border-radius: 0.5rem;
}

.image {
    display: block;
    transition: .5s ease;
}

/* The overlay effect, lay on top of the container an over the image */
.overlay-image {
    display: grid;
    place-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
    transition: .5s ease;
    opacity: 0;
    background-color: hsla(178, 100%, 50%, 0.5);
}

/* When you mouse over the container, fade in the overlay image */
.header-image:hover .overlay-image {
    opacity: 1;
    cursor: pointer;
}

a {
    transition: all 200ms ease-in-out;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

a:hover, a:focus {
    color:hsl(178, 100%, 50%);
}

h1 {
    font-size: 1.35rem;
    font-weight: 600;
    margin-top: 22.5px;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 1.25rem;
    color: hsl(215, 51%, 70%);
}

.stat {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 1.25rem;
}

li {
    list-style: none;
    font-weight: 600;
}

.eth {
    color: hsl(178, 100%, 50%);
    
}

.time {
    color: hsl(215, 51%, 70%);
    
}

svg {
    margin-right: 0.1rem;
}

hr {
    color: hsl(215, 32%, 27%);
    margin-top: 1.25rem;
}

figure {
    display: flex;
    align-items: center;
    margin: 0;
    width: auto;
    margin-top: 1.25rem; 
}

.avatar {
    width: 32px;
    height: 32px;
    margin-right: 1.2rem;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 100%);
}

figcaption {
    color: hsl(215, 51%, 70%);
    font-size: 1rem;
    font-weight: 400;
}

