* {
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}